<div class="nav">
  <div class="logo">
    <span><i class="fa fa-phone"></i> מלקום</span>
  </div>
  <div class="links">
    <a class="link" href="#">
      <i class="link__icon fa fa-rocket"></i>
      <span class="link__text">ילד דביל</span>
    </a>
    <a class="link" href="#">
      <i class="link__icon fa fa-blind"></i>
      <span class="link__text">חלון מלוכלך</span>
    </a>
    <a class="link" href="#">
      <i class="link__icon fa fa-bomb"></i>
      <span class="link__text">סקוץ' כחול</span>
    </a>
  </div>
  <div class="search"></div>
  <div class="actions link">
    <i class="link__icon fa fa-bars"></i>
    <span class="link__text">
      פעולות</span>
    <div class="actions-dropdown">
      <a class="action" href="#">זה שום דבר</a>
      <a class="action" href="#">לא אישה</a>
      <a class="action" href="#">לא כדור</a>
      <a class="action" href="#">רעידות אדמה</a>
      <a class="action" href="#">יא בא בא בא</a>
    </div>
  </div>
</div>