:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    margin-top: 1rem;
}

.grid {
    flex: 1;
    overflow-y: auto;
}

.filters {
    width: 250px;
}

.quick-action {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
}